* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body {
    background: #f4f9ff;
    background-image: url(bsck.jpeg);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.card {
    width: 90%;
    max-width: 450px;
    background: linear-gradient(135deg, #4facfe, #00c8ff);
    color: #fff;
    border-radius: 18px;
    padding: 35px;
    text-align: center;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
}

.title {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 20px;
}

.search {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search input {
    border: none;
    outline: none;
    background: #e3f2fd;
    color: #333;
    padding: 12px 18px;
    height: 50px;
    border-radius: 25px;
    flex: 1;
    margin-right: 10px;
    font-size: 16px;
}

.search button {
    border: none;
    outline: none;
    background: #e3f2fd;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    cursor: pointer;
    transition: 0.3s;
}

.search button:hover {
    background: #cde7ff;
}

.search button img {
    width: 20px;
}

.weather-icon {
    width: 140px;
    margin-top: 20px;
}

.weather h1 {
    font-size: 60px;
    font-weight: 600;
}

.weather h2 {
    font-size: 50px;
    font-weight: 500;
    margin-top: -5px;
}

.details {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    margin-top: 30px;
}

.col {
    display: flex;
    align-items: center;
    text-align: left;
}

.col img {
    width: 35px;
    margin-right: 8px;
}

.humidity,
.wind {
    font-size: 20px;
    margin-top: -3px;
}

.weather {
    display: none;
}

.error {
    text-align: left;
    margin-left: 12px;
    font-size: 14px;
    margin-top: 10px;
    color: #ff4a4a;
    display: none;
}
